body {
  background-color: #a3e4e4;
}

main {
  width: 100%;
  height: 100%;
}

ul {
  list-style: none;
  padding: 0 30px;
  margin: 0;
}

li {
  padding: 10px;
}

label {
  margin-left: 33px;
}

input {
  height: 30px;
  width: 160px;
}

.d-none {
  display: none;
}

.bstart {
  width: 200px;
  height: 50px;
  margin: 10px 68px;
  font-size: 20px;
  color: blue;
  font-weight: bold;
}

.binput {
  margin-left: 45px;
}

.buttn-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bresultat2, .bresultat3 {
  position: absolute;
  top: 90%;
  left: 50%;
  height: 20px;
}

.brestart-ur {
  position: absolute;
  top: 100%;
}

.start-str {
  position: absolute;
  top: 30%;
  left: 38%;
}

.txt-start {
  margin: 10px 68px;
  color: blue;
}

.forma {
  position: absolute;
  top: 37%;
  left: 40%;
  width: 250px;
  height: 130px;
  padding: 1em;
  border: 1px solid #CCC;
  background-color: wheat;
  border-radius: 1em;
}

.user-score {
  max-width: 1000px;
  height: 50px;
  margin: 20px auto 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.conteiner {
  position: relative;
  max-width: 1000px;
  height: 600px;
  margin: 0px auto;
  background-color: #d8c893;
  padding: 10px;
}

.statistic {
  position: absolute;
  left: 60%;
  top: 30%;
}

.statistic > p {
  font-size: 50px;
  color: #31036d;
}

.flex-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 450px;
  height: 420px;
}

.elem-image {
  margin: 5px;
  width: 130px;
  height: 130px;
  background-size: 130px 130px;
}

.elem-image:hover {
  border: 3px solid blue;
}

.true {
  border: 5px solid #67e61d;
}

.false {
  border: 5px solid red;
}

.flexbox-pos, .flexbox-pos3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-column, .flex-column3 {
  width: 50%;
}

.res, .res3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: brown;
  height: 600px;
  width: 50%;
}
