body{
   background-color: rgb(163, 228, 228);
}

main{
  width: 100%;
  height: 100%;
}

ul{
  list-style: none;
  padding: 0 30px;
  margin: 0;
}

li{
  padding: 10px;
}

label{
  margin-left: 33px;
}

input{
  height: 30px;
  width: 160px;
}

.d-none{
  display: none;
}

// кнопки

.bstart {
  width: 200px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -120px;
  font-size: 20px;
  color: blue;
  font-weight: bold;
}

.binput{
  margin-left: 45px;
}

.buttn-nav {
  display: flex;
  justify-content: space-between;
}

.bresultat, .bresultat3{
  position: absolute;
  top: 90%;
  left: 50%;
  height: 20px;
}

.brestart-ur{
  position: absolute;
  top: 100%;
}

// форма
.forma{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -160px;
  margin-top: -90px;
  width: 250px;
  height: 130px;
  padding: 1em;
  border: 1px solid #CCC;
  background-color: wheat;
  border-radius: 1em;
}


.user-score{
  max-width: 1000px;
  height: 50px;
  margin: 20px auto 0px auto;
  display: flex;
  justify-content: space-between;
}

.conteiner{
  position: relative;
  max-width: 1000px;
  height: 600px;
  margin: 0px auto;
  background-color: rgb(216, 200, 147);
  padding: 10px;
}

.statistic{
  position: absolute;
  left: 60%;
  top: 30%;
}

.statistic > p{
  font-size: 50px;
  color:rgb(49, 3, 109);
}

.flex-image {
  display: flex;
  flex-wrap: wrap;
  max-width: 450px;
  height: 420px;
}

.elem-image{
  margin: 5px;
width: 130px;
height: 130px;
background-size: 130px 130px;
}


.elem-image:hover{
  border: 3px solid blue;
}

.true{
  border: 5px solid rgb(103, 230, 29);
}

.false {
  border: 5px solid red;
}


.flexbox-pos, .flexbox-pos3 {
  display: flex;
}

.flex-column, .flex-column3 {
  width: 50%;
}

.res, .res3 {
  display: flex;
  flex-wrap: wrap;
  background-color: brown;
  height: 600px;
  width: 50%;
}




