body{
   background-color: rgb(163, 228, 228);
}

main{
  width: 100%;
  height: 100%;
}

ul{
  list-style: none;
  padding: 0 30px;
  margin: 0;
}

li{
  padding: 7px;
}

label{
  margin-left: 20px;
  font-size: 20px;
}

input{
  height: 35px;
  width: 180px;
  margin-left: -8px;
  font-size: 20px;
}

.d-none{
  display: none;
}

// кнопки

.bstart {
  width: 200px;
  height: 50px;
  //position: absolute;
  // top: 50%;
  // left: 50%;
  //margin-left: -120px;
  margin: 10px 68px;
  font-size: 20px;
  color: blue;
  font-weight: bold;
}

.binput{
  margin-left: 38px;
  font-size: 15px;
}

.buttn-nav {
  display: flex;
  justify-content: space-between;
}

.breturn, .bgo, .b-end{
  height: 40px;
  width: 210px;
  font-size: 20px;
}

.bresultat2, .bresultat3{
  position: absolute;
  top: 95%;
  left: 51%;
  height: 40px;
  width: 110px;
  font-size: 20px;
}

.brestart-ur{
  position: absolute;
  top: 95%;
  height: 40px;
  width:110px;
  font-size: 20px;
}

.brestart-game {
  height: 35px;
  width:90px;
  font-size: 20px;
}

.start-str{
  position: absolute;
  top: 30%;
  left: 35%;
}
.txt-start{
  margin: 10px 68px;
  color: blue;
}

.img-for-start > img {
  transform: rotate(5deg);
  padding: 10px 10px;
}

.img-for-start {
  margin-left: -30px;
}

// форма
.forma{
  position: absolute;
  top: 37%;
  left: 37%;
  width: 250px;
  height: 130px;
  padding: 1em;
  border: 1px solid #CCC;
  background-color: wheat;
  border-radius: 1em;
}

.user-score{
  max-width: 1000px;
  height: 50px;
  margin: 20px auto 0px auto;
  display: flex;
  justify-content: space-between;
}

.conteiner{
  position: relative;
  max-width: 1000px;
  height: 600px;
  margin: 0px auto;
  background-color: rgb(216, 200, 147);
  padding: 10px;
}

.statistic{
  position: absolute;
  left: 60%;
  top: 30%;
}

.statistic > p{
  font-size: 50px;
  color:rgb(49, 3, 109);
}

.perehod, .game-end {
  margin: 200px 100px;
}
.buttn-nav {
  margin-top: 100px;
}
.game-end{
  text-align: center;
  font-size: 20px;
}

.flex-image {
  display: flex;
  flex-wrap: wrap;
  max-width: 450px;
  height: 420px;
}

.elem-image{
  margin: 5px;
width: 130px;
height: 130px;
background-size: 130px 130px;
}


.elem-image:hover{
  border: 3px solid blue;
}

.true{
  border: 5px solid rgb(103, 230, 29);
}

.false {
  border: 5px solid red;
}


.flexbox-pos, .flexbox-pos3 {
  display: flex;
}

.flex-column, .flex-column3 {
  width: 50%;
}

.res, .res3 {
  display: flex;
  flex-wrap: wrap;
  background-color: brown;
  height: 600px;
  width: 50%;
}

.score, .score2{
  font-size: 20px;
}

.flex-column > h1, .flex-column3 > h1{
  margin: 10px 0;
}

.flex-column > h2, .flex-column3 > h2{
  margin: 10px 0;
}


